html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;
  background: orange;  
  overflow: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;  
}

.game {
	width: 800px;
	height: 800px;
	background: #000;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;  	
}

.wrap-menu {
	width: 40%;
	border: 1px solid red;
	padding: 10px;
}

	.punkt-menu {
		color: yellow;
		padding: 4px 0;
	}

		.right {
			text-decoration: underline;
		}

.wrap-info-screen { 
  text-align: center;
  transition: 1s;
}

  .text-top {
    font-size: 3em;
    padding-bottom: 4em;
    color: red;
  }

  .text-bottom {
    font-size: 1em;
    color: cyan;
  }

  .hide {
    opacity: 0;
    transition: 1s;
  }


#next {
	width: 100px;
	height: 100px;
	background: lime;	
}
#end {
	width: 100px;
	height: 100px;
	background: red;
}
#minus {
  width: 100px;
  height: 100px;
  background: white;
}

.game-over-text {
	font-size: 3em;
	transition: 2s;
	color: blue;
}
	
	.transform {
		font-size: 0em;
	}